$cb:#555;
$cg:#ccc;
$cgL:#eee;
$cw:#fff;

$c1:#b60011;
$c1L:#cc0014;
$c2:#ffac59;
$c3:#00ccbb;
$cBody:#fafafa;

$ff1:'Josefin Sans';
$ff2:'Roboto';
$ff3:'Montserrat';
$ff4:'Montserrat-Thin';
$ff5:'Montserrat-Light';

$minMabileL:576px;
$minTablet:768px;
$minDesktop:1000px;
$minLScrn:1200px;
$minXLScrn:1400px;