@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format("truetype");
    
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('Montserrat-Thin.ttf') format("truetype");
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('Montserrat-Light.ttf') format("truetype");
}